<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Serve The World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D788B1E51E3755F800D59DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D788B1F91E3755F800D59DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D788B2041E3755F800D59DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
